version: '3.8'

services:

  gateway:
    image: docker.io/descroi/gateway:latest  # Образ с docker hub
    network_mode: "host"
    ports:
      - "3000:3000"
    volumes:
      - /home/q/projects/Practice/Commissions_simple/Api_gateway:/gateway

  server:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=123
      - DB_NAME=postgres
    depends_on:
      - db
    volumes:
      - /home/q/projects/Practice/Commissions_simple/Commissions_simple_v1:/app

  auth:
    image: docker.io/descroi/commissions_simple:latest  # Образ с docker hub
    ports:
      - "8081:8081"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=123
      - DB_NAME=postgres
    depends_on:
      - db
    volumes:
      - /home/q/projects/Practice/Commissions_simple/Auth_service:/auth # Монтируем локальные файлы
  db:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: